.layui-footer {
    text-align: center;
}

/* 设置nav中头像样式 */
.layui-nav .nav-avatar,
.layui-side .side-avatar {
    display: inline-block;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: rgb(0, 150, 136);
    text-align: center;
    line-height: 36px;
    font-size: 25px;
    color: #fff;
    vertical-align: middle;
    margin-right: 5px;

}

/* 欢迎语 */
.layui-side .userInfo {
    height: 60px;
    text-align: center;
    line-height: 60px;
}

.layui-side .userInfo a {
    color: #fff;
}

/* 隐藏类 */
.hidden {
    display: none;
}